  .shooter-1 li:hover{
        background-color: lightgray;
    }
    .shooter-1 li:hover{
        background-color: lightgray;
    }
    .shooter-1 li:hover{
        background-color: lightgray;
    }
    .shooter-1 li:hover{
        background-color: lightgray;
    }
    .shooter-1 li:hover{
        background-color: lightgray;
    }
    .shooter-2 li:hover{
        background-color: lightgray;
    }
    .shooter-2 li:hover{
        background-color: lightgray;
    }
    .shooter-2 li:hover{
        background-color: lightgray;
    }
    .shooter-2 li:hover{
        background-color: lightgray;
    }
    .shooter-2 li:hover{
        background-color: lightgray;
    }